<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home'%}">CRM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Dashboard</a>
                </li>
                {%if request.user.is_staff%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Products</a>
                </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'user-page'%}">profile</a>
                </li>
                {% if not logedin%}
                <li class="nav-item dropdown me-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        login
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'login_page' %}">login</a></li>
                        <li><a class="dropdown-item" href="{% url 'register_page' %}">register</a></li>
                    </ul>
                </li>
                {%endif%}
            </ul>
            <div class="d-flex text-light">
                {%if logedin%}
                <span class="px-3">Hello,{{request.user}}</span>
                <a href="{% url 'logout' %}">logout</a>
                {%endif%}
            </div>
        </div>
    </div>
</nav>